@import "../../scss/variables.scss";

.img__banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../../assets/home_cover.png");
    width: 100%;
    position: relative;
    color: $color-tertiary;
    place-items: center;
    margin: auto;
    background-size: cover;
    min-height: 140px;
    border: 1px solid $background-light;
    display: grid;
    border-radius: 2rem;
    margin-bottom: 2rem;
&::before {
    position: absolute;
    border-radius: 2rem;
    content: "";
    inset: 0;
    opacity: 0.5;
}
}


