@import "../../scss/variables.scss";

.grid {
    background-color: $background-light;
    min-height: 50vh;
    border-radius: 2rem;
    display: grid;
    flex-wrap: wrap;
    padding: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  

}

@media screen and (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
        gap: 2rem;
    }

    
}

@media screen and (max-width: 768px) {
    .grid {
        background-color: $color-tertiary;
        justify-content: center;
        padding: 0px;
        gap: 2rem;
        display: flex;
        border-radius: 1rem;
        margin: 0
    }
}


    
