@import "../../scss/variables.scss";

.footer {
  background-color: $footer-background-color;
  color: $color-tertiary;
  padding: 20px;
  text-align: center;
  height: 10rem;
  display: grid;
  margin-top: 7rem;
  margin-bottom: 0;
  gap: 20px;
  place-items: center;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
  
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

