.card_gallery {
    height: 340px;   
    width: 30%;
    position: relative;
    border-radius: 10px ; 
    cursor: pointer;
    transition : box-shadow 0.3s ease-in-out;
    overflow: hidden;
    
}
