@import "../../scss/variables.scss"; 


     .house-hold__description {
        flex-basis:50%; 
       margin-top: 1rem;
    .description__title {
        background-color: $color-primary;
        color: $color-tertiary;
        padding: 0.2em 1em;
        border-radius: 10px;
        display: flex;
        margin: 0;
        align-items: center ;
        justify-content: space-between;
    
        i {
            font-size: 2rem;
            cursor: pointer;
            &:active {
                transform: rotate(180deg);
                transition: all 0.3s;
            }
        }
    }
    

    .description__content {
        background-color: $background-light;
        color: $color-primary;
        padding : 1rem;
        margin: 0;
        border-radius: 5px;
        position: relative;
        margin-bottom: 2rem;
        top: -0.3rem;
        z-index: -1;
        transition: opacity 0.5s; 

   &.fade-in {
      animation: fadeInAnimation 1s ease forwards;
    }
     
        
    }
   
    }

    @keyframes fadeInAnimation {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
 

