@import "../../scss/variables.scss";

.grid {
    background-color: $background-light;
    min-height: 50vh;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 4rem;
    justify-content: space-between;
    align-items: center;


}

@media screen and (max-width: 768px) {
    .grid {
        background-color: $color-tertiary;
        justify-content: center;
        padding: 0px;
        gap: 2rem;
        border-radius: 1rem;
        margin: 0
    }
}


    
